body{
    font-family: Arial;
    background: #1e1e2f;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container{
    background: #2c2c3c;
    padding: 20px;
    border-radius: 15px;
    width: 400px;
    box-shadow: 0 0 15px rgba(0,0,0,0.5);
}

h1{
    text-align: center;
    color: white;
}

.input_section{
    display: flex;
    gap: 10px;
    margin-bottom: 15px;
}

input{
    padding: 10px;
    border-radius: 8px;
    border: none;
    outline: none;
}

#todo_input{
    flex: 1;
}

.btn_add{
    background: #28a745;
    border: none;
    padding: 10px;
    border-radius: 8px;
    cursor: pointer;
}

.todo_item{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #3a3a4f;
    padding: 10px;
    border-radius: 8px;
    margin-bottom: 10px;
    color: white;
}

.completed{
    text-decoration: line-through;
    opacity: 0.6;
}

.btn_delete{
    background: red;
    border: none;
    padding: 5px 10px;
    border-radius: 6px;
    cursor: pointer;
}

.btn_done{
    background: orange;
    border: none;
    padding: 5px 10px;
    border-radius: 6px;
    cursor: pointer;
}
